@font-face {
  font-family: Ginger;
  src: url("Ginger.woff");
}


.css-z5fcl4 {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 3rem;
  padding-bottom: 1rem;
}

.css-c6r23c .css-1drl371 {
  padding-right: 2rem;
}

.reportview-container .main {
  color: 'white';
  background-color: 'black';
}
