@import url("Ginger.woff");

@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@700&display=swap');

.nice-font {
  font-family: 'Ginger', Rufina;
  font-size: 18px;
  font-weight: 500;
  color: #091747;
}

.css-5thqtp .css-1rrbo1k {
  margin-right: 5em;
}

.css-z5fcl4 {
  margin-top: 1em;
  margin-right: 1em;
  margin-left: 5em;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-right: 1em;
  padding-left: 2em;
  padding-bottom: 1em;
}

.css-c6r23c .css-1drl371 {
  margin-right: 2rem;
}

.reportview-container .main {
  color: 'white';
  background-color: 'black';
}
